body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /*
  background-image:url("../img/matrix.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
      */
  font-family: Inter;
  background-color: #171717;
  overflow-y: hidden;
  overflow-x:hidden;
}
#home-image {
  margin:5%;
  margin-bottom: 0%;
  width: 25%;
  max-width: 200px;
  border-radius: 15%;
}
#home-title {
  color: #fff;
  font-size: 400%;
  margin:auto;
  margin-top: 10px;
  width:min-content;
  padding: 15px;
  margin-bottom: 0;
  flex: 2;
  font-weight: 500;
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: 10px 10px 10px 10px;
}
.top-section {
  text-align: center;
}
.home-button-section {
  padding-top: 40px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction:row;
  justify-content: center;
}
.link-button {
  margin: 5%;
  margin-bottom: 10%;
  padding: 10px;
  min-width: 100px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
  letter-spacing: .5px;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.link-button:hover {
  background-color: rgba(68, 68, 68, 0.8);
  box-shadow: -5px 5px 5px #DA0037;
}



.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -900;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  border-color: #DA0037;
  outline-color: #DA0037;
  outline-style:outset;
  outline-width: 5px;
  animation: animate 25s linear infinite;
  bottom: -200px;
  
}

@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000%) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
.page-link-button {
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  flex-shrink: 0;
  min-width: 100px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
  letter-spacing: .5px;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.page-link-button:hover {
  background-color: rgba(68, 68, 68, 0.8);
  box-shadow: -5px 5px 5px #DA0037;
}
.page-top-section {
  display: flex;
  align-items:center;
}
.page-title-buttons {
  display:inline-block;
  flex: 1;
  text-align: center;
}
.page-buttons {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction:row;
}
#page-title {
  color: #fff;
  font-size: 300%;
  margin-bottom:0%;
  width:min-content;
  height:min-content;
  padding: 5px;
  font-weight: 500;
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: 10px 10px 10px 10px;
}
#page-image {
  margin:25px;
  margin-right: 10px;
  width: 175px;
  border-radius: 15%;
}


