body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /*
  background-image:url("../img/matrix.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
      */
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: inherit;
}
.top-text {
  color: #d4d4d4;
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  text-shadow:
    0 0 7px #a8a8a8,
    0 0 10px #a8a8a8,
    0 0 21px #a8a8a8,
    0 0 42px #383838,
    0 0 82px #383838,
    0 0 92px #383838,
    0 0 102px #383838,
    0 0 151px #383838;
}
.info-text {
  color: #d4d4d4;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
#profile-pic {
  width: 15%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:60%;
  box-shadow:
    0 0 7px #000000,
    0 0 10px #000000,
    0 0 21px #000000,
    0 0 42px #000000,
    0 0 82px #000000;
}
.left-show{
    width: 1px; 
    margin: auto;
    display: flex;
   align-items:center;
    overflow: visible;
    background: #a8a8a8; 
}
.left-show-pic {
  width: 200px;
  height: 200px;
  display: block;
  padding: 20px;
  position: relative;
  right: 420px;
  border-radius:30%;
}
.left-show-title {
  color: #d4d4d4;
  font-size: 35px;
  position: relative; 
  min-width: 130px;
  right: 410px;
  text-shadow:
    0 0 7px #a8a8a8,
    0 0 10px #a8a8a8,
    0 0 21px #a8a8a8,
    0 0 42px #383838,
    0 0 82px #383838,
    0 0 92px #383838,
    0 0 102px #383838,
    0 0 151px #383838;
}
.left-show-desc {
  color: #7A7A7A;
  padding: 30px;
  display: block;
  min-width: 500px;
  position: relative;
  right: 360px;
}

.right-show{
    width: 1px; 
    margin: auto;
    display: flex;
   align-items:center;
    overflow: visible;
    background: #a8a8a8; 
}
.right-show-pic {
  width: 240px;
  height: 240px;
  display: block;
  position: relative;
  left: 175px;
  border-radius:30%;
}
.right-show-title {
  color: #d4d4d4;
  font-size: 35px;
  position: relative; 
  min-width: 110px;
  right: 190px;
  text-shadow:
    0 0 7px #a8a8a8,
    0 0 10px #a8a8a8,
    0 0 21px #a8a8a8,
    0 0 42px #383838,
    0 0 82px #383838,
    0 0 92px #383838,
    0 0 102px #383838,
    0 0 151px #383838;
}
.right-show-desc {
  color: #7A7A7A;
  padding: 30px;
  display: block;
  min-width: 500px;
  position: relative;
  left: -920px;
}
#secret-btn {
  color: #383838;
  background-color: #383838;
  border: none;
  height: 15px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
#secret-text {
  display: none;
}
.info-links {
  display: block;
  margin:auto;
  width: 50%;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}
.info-links a {
  display: inline-block;
  padding: 0px;
  padding-top: 20px;
}
.info-links img {
  margin:auto;
  padding-left: 2px;
  padding-right: 2px;
}
.bottom-nav {
  text-align: center;
  bottom: 0;
}
.bottom-nav p {
  color: #d4d4d4;
  font-size: 25px;
  text-align: center;
  overflow: visible;
  text-shadow:
    0 0 7px #a8a8a8,
    0 0 10px #a8a8a8,
    0 0 21px #a8a8a8,
    0 0 42px #383838,
    0 0 82px #383838,
    0 0 92px #383838,
    0 0 102px #383838,
    0 0 151px #383838;
}
.bottom-nav a {
  color: #7A7A7A;
  text-align: center;
  padding: 20px 20px;
  display: inline-block;
  text-decoration: none;
  max-height: inherit;
  vertical-align: center;
  font-size: 17px;
}

.bottom-nav a:hover {
  background-color: #333333;
  color: #9A9A9A;
  overflow: visible;
  text-shadow:
    0 0 7px #d8d8d8,
    0 0 10px #d8d8d8,
    0 0 21px #d8d8d8;
    -webkit-animation: pulsate 1s ease-out;
    -moz-animation: pulsate 1s ease-out;
    -ms-animation: pulsate 1s ease-out;
    -o-animation: pulsate 1s ease-out;
    animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    text-shadow: 0 0 7px #FFFFFF,
    0 0 10px #FFFFFF,
    0 0 21px #FFFFFF;
  }
  50% {
    text-shadow: 0 0 14px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 42px #FFFFFF;
  }
  100% {
    text-shadow: 0 0 7px #FFFFFF,
    0 0 10px #FFFFFF,
    0 0 21px #FFFFFF;
  }
}