.top-nav {
  background-color: #292929;
  overflow: visible;
  text-align: center;
  max-height: 57px;
  width: 463px;
  box-sizing:border-box;
  margin: 0 auto 0 auto;
  border-radius: 22px;
  background-clip: padding-box;
}

.top-nav a {
  color: #7A7A7A;
  text-align: center;
  padding: 20px 20px;
  display: inline-block;
  text-decoration: none;
  max-height: inherit;
  vertical-align: center;
  font-size: 17px;
}
#nav-start {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 40px;
  display: inline-flex;
}
#nav-end {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 40px;
  display: inline-flex;
}

.top-nav a:hover {
  background-color: #333333;
  color: #8A8A8A;
}

@media only screen and (max-width: 1130px){
  .top-nav a{
    font-size: 25px;
    padding:10px;
  }
  .top-nav{
    width: 100%;
  }
}