@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
}
html,
body,
#root {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Inter;
}

.rotate-button > p {
  transform-style: preserve-3d;
  transform: translateZ(-25px);
}
.rotate-button > p:before,
.rotate-button > p:after {
  @apply absolute content-[attr(id)] w-28 xs:w-32 lg:w-44 h-14 flex items-center justify-center box-border rounded border-4 border-solid border-white;
}
.rotate-button > p:before {
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.rotate-button > p:after {
  transform: rotateX(90deg) translateZ(25px);
}
.rotate-button > p:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}