@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
html {
  overflow: hidden;
}
html,
body,
#root {
  margin: 0;
  font-family: Inter;
}
.rotate-button > p:before,
.rotate-button > p:after {
  @apply absolute content-[attr(id)] w-28 xs:w-32 lg:w-44 h-14 flex items-center justify-center box-border rounded border-4 border-solid border-white z-10;
}
.rotate-button > p:before {
  background: #000;
  z-index: 10;
  transform: rotateY(0deg) translate3d(0, 0, 25px);
}
.rotate-button > p:after {
  z-index: 10;
  transform: rotateX(90deg) translate3d(0, 0, 25px);
}
.rotate-button > p:hover {
  z-index: 10;
  transform: translate3d(0, 0, 25px) rotateX(-90deg);
}
