@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
}
html,
body,
#root {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Inter;
}

.rotate-button {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: auto;
  cursor: pointer;
  perspective: 1000px;
}
.rotate-button > p {
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}
.rotate-button > p:before,
.rotate-button > p:after {
  position: absolute;
  content: attr(id);
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  box-sizing: border-box;
  border-radius: 5px;
}
.rotate-button > p:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.rotate-button > p:after {
  color: white;
  transform: rotateX(90deg) translateZ(25px);
}
.rotate-button > p:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
